/* lab11 css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color:black;
    border-color:black;
    margin-right:50px;
    
}

form {
    color: black;
    border-color:black;
  
    font-size:1.5em;
    color:blue;
    margin-left:auto;
    text-align:center;
    background-image: linear-gradient(rgb(0, 162, 255), yellow, green);
}
h1 {
    color:blue;
    margin-left:auto;
    text-align:center;
}


.question {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
    width: 30%;
    height:300px;
    font-weight:bold;
    font-size:1.25em;
    color: blue;
    padding: 40px;
    background-image: linear-gradient(rgb(0, 162, 255), yellow, green);

}


.hide {
    display:none;
}



.middle {
    text-align:center;
    color:rgb(0, 68, 255);
}